#{extends 'main.html' /}
#{set title:'Contax' /}
<h2>Your Contax</h2>
<nav>
    #{list items:user.getFriends(), as:'friend'}
    <ul>
        <li>${friend.getUsername()}</li>
        <li>${friend.getDateOfBirth()}</li>
    </ul>
    #{/list}
    <ul>
        <form action="@{Application.index}">
            <li>
                <input type="email" name="email">
                <button type="submit">Add new Contact</button>
            </li>
        </form>
    </ul>
</nav>
<div class="dropdown">
    <button  class="dropbtn">X</button>
    <div class="dropdown-content">
        <a href="@{Application.settings}">Settings</a>
        <a href="logout">Log out</a>
    </div>
</div>